.contenedor{
    position: relative;
}

.contenedorJugador {
    position: absolute;
    left: -300px;
    top: 80px;
    gap: 20px;
    width: 400px;
    height: 800px;
    background-color: #F1F2EB;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.circulo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    margin: 0 auto; /* Esto centra el div horizontalmente */
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #ffffff;
}

.caraJugador {
    margin: 0 auto;
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.nombre{
    margin: 0 auto;
    

}
