.fondo{
    background-image: url('../public/img/fondo.jpg');
    background-size: 20%;
}

.card-hover{
    transition: all .25s easy;
}

.card-hover:hover{
    transform: translateY(-8px) scale(1.01);
}