.fondo{
    background: #fefae0;;
    background-size: 100%;
}

.card-hover{
    transition: all .25s easy;
}

.card-hover:hover{
    transform: translateY(-8px) scale(1.01);
}

.contenedorJugadores{
  /* Equivalente a `shadow` de Bootstrap (una sombra simple) */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  
  /* Equivalente a `bg-danger` (fondo rojo) */
  background-color: #001021;
  
  /* Equivalente a `mt-3` (margen superior de 1 rem) */
  margin-top: 1rem;
  

}